<a href="https://colab.research.google.com/github/BeyondLimits11011/djangoapp-auth-crud/blob/master/Actividad3BDManipulacion_A00820345.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE:              `Rafael Sánchez Marmolejo`
*   MATRÍCULA:           `A00820345`

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [ ]:
pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [ ]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [ ]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.217.214:3306/classicmodels', pool_recycle=3600)

# Crea una conexión para luego invocar declaraciones SQL
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [ ]:
df_productlines = pd.read_sql('SELECT * FROM productlines', conn)
print(f"Columnas de la tabla customers:{df_productlines.columns}\n")

from sqlalchemy import text

qy2 = text("""
            SELECT *
            FROM productlines;
            """)

line_product = conn.execute(qy2).fetchall()
line_product

Columnas de la tabla customers:Index(['productLine', 'textDescription', 'htmlDescription', 'image'], dtype='object')

[('Classic Cars', 'Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking for classic muscle cars, dream sports cars or mo ... (437 characters truncated) ... cles. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None),
 ('Motorcycles', 'Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends such as Harley Davidson, Ducati and Vespa. Models ... (297 characters truncated) ...  out-of-production vehicles. All models come fully assembled and ready for display in the home or office. Most include a certificate of authenticity.', None, None),
 ('Planes', 'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning  ... (55 characters truncated) ... jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.', None, None),
 ('Ships', 'The perfect holiday or anniversary gift for executives, clients, friends, and family. These handcrafted model ships are unique, stunning works of art ... (12 characters truncated) ... e treasured for generations! They come fully assembled and ready for display in the home or office. We guarantee the highest quality, and best value.', None, None),
 ('Trains', "Model trains are a rewarding hobby for enthusiasts of all ages. Whether you're looking for collectible wooden trains, electric streetcars or locomoti ... (73 characters truncated) ... egory. The interactive aspect of trains makes toy trains perfect for young children. The wooden train sets are ideal for children under the age of 5.", None, None),
 ('Trucks and Buses', 'The Truck and Bus models are realistic replicas of buses and specialized trucks produced from the early 1920s to present. The models range in size fr ... (124 characters truncated) ... n, diecast and plastic. All models include a certificate of authenticity from their manufacturers and are a perfect ornament for the home and office.', None, None),
 ('Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, p ... (202 characters truncated) ... icas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)]

3.	La información de los empleados ordenados por nombre (`firstName`).

In [ ]:
df_employees = pd.read_sql("SELECT * FROM employees", conn)
print(f"Columnas de la tabla employees:{df_employees.columns}\n")

qy3 = text("""
           SELECT *
           FROM employees
           ORDER BY firstName;
           """)

employees_sorted = conn.execute(qy3).fetchall()
employees_sorted

Columnas de la tabla employees:Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

[(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep'),
 (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)'),
 (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep'),
 (1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President'),
 (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep'),
 (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep'),
 (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)'),
 (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep'),
 (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing'),
 (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep'),
 (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep'),
 (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep'),
 (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep'),
 (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep'),
 (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep'),
 (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep'),
 (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales'),
 (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep'),
 (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep'),
 (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep'),
 (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep'),
 (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)'),
 (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')]

4.	Los países donde hay oficinas (sin duplicar).

In [ ]:
df_offices = pd.read_sql("SELECT * FROM offices", conn)
print(f"Columnas de la tabla officies:{df_offices.columns}\n")

qy4 = text("""
           SELECT DISTINCT country
           FROM offices;
           """)

country_offices = conn.execute(qy4).fetchall()
country_offices

Columnas de la tabla officies:Index(['officeCode', 'city', 'phone', 'addressLine1', 'addressLine2', 'state',
       'country', 'postalCode', 'territory'],
      dtype='object')

[('USA',), ('France',), ('Japan',), ('Australia',), ('UK',)]

5.	El nombre y teléfono de los clientes de la ciudad de Nueva York (*NYC*).

In [ ]:
df_customers = pd.read_sql("SELECT * FROM customers", conn)
print(f"Columnas de la tabla customers:{df_customers.columns}\n")

qy5 = text("""
           SELECT customerName, phone
           FROM customers
           WHERE city = 'NYC';
           """)

customers_nyc = conn.execute(qy5).fetchall()
customers_nyc

Columnas de la tabla customers:Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

[('Land of Toys Inc.', '2125557818'),
 ('Muscle Machine Inc', '2125557413'),
 ('Vitachrome Inc.', '2125551500'),
 ('Classic Legends Inc.', '2125558493'),
 ('Microscale Inc.', '2125551957')]

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [ ]:
df_products = pd.read_sql("SELECT * FROM products", conn)
print(f"Columnas de la tabla products:{df_products.columns}\n")

qy6 = text("""
           SELECT productCode, productName
           FROM products
           WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000;
           """)

products_gearbox_collectibles = conn.execute(qy6).fetchall()
products_gearbox_collectibles

Columnas de la tabla products:Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

[('S18_2581', 'P-51-D Mustang'), ('S18_2795', '1928 Mercedes-Benz SSK')]

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [ ]:
df_products = pd.read_sql("SELECT * FROM products", conn)
print(f"Columnas de la tabla products:{df_products.columns}\n")

qy7 = text("""
           SELECT productName, buyPrice
           FROM products
           ORDER BY buyPrice DESC LIMIT 3;
           """)

three_expensive_products = conn.execute(qy7).fetchall()
three_expensive_products

Columnas de la tabla products:Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

[('1962 LanciaA Delta 16V', Decimal('103.42')),
 ('1998 Chrysler Plymouth Prowler', Decimal('101.51')),
 ('1952 Alpine Renault 1300', Decimal('98.58'))]

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [ ]:
df_products = pd.read_sql("SELECT * FROM products", conn)
print(f"Columnas de la tabla products:{df_products.columns}\n")

qy8 = text("""
           SELECT productLine, COUNT(*) AS numProducts
           FROM products
           GROUP BY productLine;
           """)

quantity_line_product = conn.execute(qy8).fetchall()
quantity_line_product

Columnas de la tabla products:Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

[('Classic Cars', 38),
 ('Motorcycles', 13),
 ('Planes', 12),
 ('Ships', 9),
 ('Trains', 3),
 ('Trucks and Buses', 11),
 ('Vintage Cars', 24)]

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [ ]:
df_employees = pd.read_sql("SELECT * FROM employees", conn)
print(f"Columnas de la tabla employees:{df_employees.columns}\n")

qy9 = text("""
           SELECT country, COUNT(*) AS numEmployees
           FROM employees
           JOIN offices ON employees.officeCode = offices.officeCode
           GROUP BY country;
           """)

employees_per_country = conn.execute(qy9).fetchall()
employees_per_country

Columnas de la tabla employees:Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

[('Australia', 4), ('France', 5), ('Japan', 2), ('UK', 2), ('USA', 10)]

10.	El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

In [ ]:
df_customers = pd.read_sql("SELECT * FROM customers", conn)
print(f"Columnas de la tabla customers:{df_customers.columns}\n")

df_payments = pd.read_sql("SELECT * FROM payments", conn)
print(f"Columnas de la tabla payments:{df_payments.columns}\n")

qy10 = text("""
           SELECT c.customerName, c.customerNumber, c.city, AVG(p.amount) AS meanPayment
           FROM payments p
           JOIN customers c ON p.customerNumber = c.customerNumber
           WHERE c.country = 'Spain'
           GROUP BY c.customerNumber;
           """)

mean_payment_customers_spain = conn.execute(qy10).fetchall()
mean_payment_customers_spain

Columnas de la tabla customers:Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

Columnas de la tabla payments:Index(['customerNumber', 'checkNumber', 'paymentDate', 'amount'], dtype='object')

[('Euro+ Shopping Channel', 141, 'Madrid', Decimal('55056.844615')),
 ('Enaco Distributors', 216, 'Barcelona', Decimal('22840.156667')),
 ('CAF Imports', 344, 'Madrid', Decimal('23375.570000')),
 ('Corrida Auto Replicas, Ltd', 458, 'Madrid', Decimal('37480.030000')),
 ('Iberia Gift Imports, Corp.', 484, 'Sevilla', Decimal('25493.925000'))]

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas (NO con SQL). Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [ ]:
import pandas as pd

customers_df = pd.read_sql("SELECT * FROM customers", conn)
products_df = pd.read_sql("SELECT * FROm products", conn)
productlines_df = pd.read_sql("SELECT * FROM productlines", conn)
orders_df = pd.read_sql("SELECT * FROM orders", conn)
order_details_df = pd.read_sql("SELECT * FROM orderdetails", conn)
payments_df= pd.read_sql("SELECT * FROM payments", conn)
employees_df = pd.read_sql("SELECT * FROM employees", conn)
offices_df = pd.read_sql("SELECT * FROM offices", conn)

print(f"Columnas de tabla 'customers':{customers_df.columns}\n")
print(f"Columnas de tabla 'products':{products_df.columns}\n")
print(f"Columnas de tabla 'productlines':{productlines_df.columns}\n")
print(f"Columnas de tabla 'orders': {orders_df.columns}\n")
print(f"Columnas de tabla 'order_details': {order_details_df.columns}\n")
print(f"Columnas de tabla 'payments': {payments_df.columns}\n")
print(f"Columnas de tabla 'employees': {employees_df.columns}\n")
print(f"Columnas de tabla 'offices': {offices_df.columns}\n")

print(f"2. La información de las líneas de productos.\n")
product_lines_info = productlines_df.copy()
print(f"{product_lines_info}\n")

print(f"3. La información de los empleados ordenados por nombre (firstName).\n")
firstname_employees_info = employees_df.sort_values(by='firstName')
print(f"{firstname_employees_info}\n")

print(f"4. Los países donde hay oficinas (sin duplicar).\n")
unduplicated_country_offices_info = offices_df['country'].unique()
print(f"{unduplicated_country_offices_info}\n")

print(f"5. El nombre y teléfono de los clientes de la ciudad de Nueva York (NYC).\n")
nyc_offies_info = customers_df[customers_df['city'] == 'NYC'][['customerName', 'phone']]
print(f"{nyc_offies_info}\n")

print(f"6. El código y nombre de los productos del vendedor Gearbox Collectibles que tengan menos de 1000 unidades en stock.\n")
gearbox_collectibles_products_info = products_df[(products_df['productVendor'] == 'Gearbox Collectibles') & (products_df['quantityInStock'] < 1000)][['productCode', 'productName']]
print(f"{gearbox_collectibles_products_info}\n")

print(f"7. Los tres productos más caros, desde el punto de vista de los comercializadores (buyPrice).\n")
three_most_expensive_products_info = products_df.sort_values(by='buyPrice', ascending = False).head(3)[['productName', 'buyPrice']]
print(f"{three_most_expensive_products_info}\n")

print(f"8. La cantidad de productos por línea de producto (no las existencias en inventario).\n")
productline_products_amount_info = products_df.groupby(by='productLine').size().reset_index(name='numProducts')
print(f"{productline_products_amount_info}\n")

print(f"9. La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).\n")
number_employees_countr_info = employees_df.merge(offices_df, on='officeCode').groupby(by = ['country', 'city']).size().reset_index(name='numEmployees')
print(f"{number_employees_countr_info}\n")

print(f"10. El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).\n")
avarage_payment_customers_spain_info = payments_df.merge(customers_df[customers_df['country'] == 'Spain'], on= 'customerNumber').groupby(by= ['customerNumber', 'customerName' , 'city'])['amount'].mean().reset_index(name= 'avgPayment')
print(f"{avarage_payment_customers_spain_info}\n")

Columnas de tabla 'customers':Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

Columnas de tabla 'products':Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock', 'buyPrice',
       'MSRP'],
      dtype='object')

Columnas de tabla 'productlines':Index(['productLine', 'textDescription', 'htmlDescription', 'image'], dtype='object')

Columnas de tabla 'orders': Index(['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status',
       'comments', 'customerNumber'],
      dtype='object')

Columnas de tabla 'order_details': Index(['orderNumber', 'productCode', 'quantityOrdered', 'priceEach',
       'orderLineNumber'],
      dtype='object')

Columnas de tabla 'payments': Index(['customerNumber', 'checkNumber', 'paymentDate', 'amount'], dtype='object')

Columnas de tabla 'employees': Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

Columnas de tabla 'offices': Index(['officeCode', 'city', 'phone', 'addressLine1', 'addressLine2', 'state',
       'country', 'postalCode', 'territory'],
      dtype='object')

2. La información de las líneas de productos.

        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

  htmlDescription image
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None

3. La información de los empleados ordenados por nombre (firstName).

    employeeNumber   lastName firstName extension  \
17            1611     Fixter      Andy      x101
5             1143        Bow   Anthony     x5428
16            1504      Jones     Barry      x102
0             1002     Murphy     Diane     x5800
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
13            1370  Hernandez    Gerard     x2028
4             1102     Bondur    Gerard     x5408
2             1076   Firrelli      Jeff     x9273
8             1188   Firrelli     Julie     x2173
15            1501       Bott     Larry     x2311
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
12            1337     Bondur      Loui     x6493
20            1621      Nishi      Mami      x101
22            1702     Gerard    Martin     x2312
1             1056  Patterson      Mary     x4611
14            1401   Castillo    Pamela     x2759
18            1612      Marsh     Peter      x102
9             1216  Patterson     Steve     x4334
19            1619       King       Tom      x103
3             1088  Patterson   William     x4871
21            1625       Kato   Yoshimi      x102

                              email officeCode  reportsTo  \
17     afixter@classicmodelcars.com          6     1088.0
5         abow@classicmodelcars.com          1     1056.0
16      bjones@classicmodelcars.com          7     1102.0
0      dmurphy@classicmodelcars.com          1        NaN
10      ftseng@classicmodelcars.com          3     1143.0
11     gvanauf@classicmodelcars.com          3     1143.0
13   ghernande@classicmodelcars.com          4     1102.0
4      gbondur@classicmodelcars.com          4     1056.0
2    jfirrelli@classicmodelcars.com          1     1002.0
8    jfirrelli@classicmodelcars.com          2     1143.0
15       lbott@classicmodelcars.com          7     1102.0
6    ljennings@classicmodelcars.com          1     1143.0
7    lthompson@classicmodelcars.com          1     1143.0
12     lbondur@classicmodelcars.com          4     1102.0
20      mnishi@classicmodelcars.com          5     1056.0
22     mgerard@classicmodelcars.com          4     1102.0
1    mpatterso@classicmodelcars.com          1     1002.0
14   pcastillo@classicmodelcars.com          4     1102.0
18      pmarsh@classicmodelcars.com          6     1088.0
9   spatterson@classicmodelcars.com          2     1143.0
19       tking@classicmodelcars.com          6     1088.0
3   wpatterson@classicmodelcars.com          6     1056.0
21       ykato@classicmodelcars.com          5     1621.0

                jobTitle
17             Sales Rep
5     Sales Manager (NA)
16             Sales Rep
0              President
10             Sales Rep
11             Sales Rep
13             Sales Rep
4    Sale Manager (EMEA)
2           VP Marketing
8              Sales Rep
15             Sales Rep
6              Sales Rep
7              Sales Rep
12             Sales Rep
20             Sales Rep
22             Sales Rep
1               VP Sales
14             Sales Rep
18             Sales Rep
9              Sales Rep
19             Sales Rep
3   Sales Manager (APAC)
21             Sales Rep

4. Los países donde hay oficinas (sin duplicar).

['USA' 'France' 'Japan' 'Australia' 'UK']

5. El nombre y teléfono de los clientes de la ciudad de Nueva York (NYC).

             customerName       phone
9       Land of Toys Inc.  2125557818
15     Muscle Machine Inc  2125557413
27        Vitachrome Inc.  2125551500
98   Classic Legends Inc.  2125558493
105       Microscale Inc.  2125551957

6. El código y nombre de los productos del vendedor Gearbox Collectibles que tengan menos de 1000 unidades en stock.

   productCode             productName
30    S18_2581          P-51-D Mustang
32    S18_2795  1928 Mercedes-Benz SSK

7. Los tres productos más caros, desde el punto de vista de los comercializadores (buyPrice).

                       productName  buyPrice
5           1962 LanciaA Delta 16V    103.42
25  1998 Chrysler Plymouth Prowler    101.51
1         1952 Alpine Renault 1300     98.58

8. La cantidad de productos por línea de producto (no las existencias en inventario).

        productLine  numProducts
0      Classic Cars           38
1       Motorcycles           13
2            Planes           12
3             Ships            9
4            Trains            3
5  Trucks and Buses           11
6      Vintage Cars           24

9. La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

     country           city  numEmployees
0  Australia         Sydney             4
1     France          Paris             5
2      Japan          Tokyo             2
3         UK         London             2
4        USA         Boston             2
5        USA            NYC             2
6        USA  San Francisco             6

10. El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

   customerNumber                customerName       city    avgPayment
0             141      Euro+ Shopping Channel     Madrid  55056.844615
1             216          Enaco Distributors  Barcelona  22840.156667
2             344                 CAF Imports     Madrid  23375.570000
3             458  Corrida Auto Replicas, Ltd     Madrid  37480.030000
4             484  Iberia Gift Imports, Corp.    Sevilla  25493.925000

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
#DIR = "/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y analítica de datos/Semana 3/Actividad3_BD_Manipulacion"
#os.chdir(DIR)


DIR = "/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y analítica de datos/Semana 3/Actividad3_BD_Manipulacion"

os.chdir(DIR)

In [26]:
cred = credentials.Certificate('/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y analítica de datos/Semana 3/Actividad3_BD_Manipulacion/veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [31]:
pet_owner_docs = db.collection('PET_OWNER').stream()
pet_owner_data = []

for doc in pet_owner_docs:
  pet_owner_data.append(doc.to_dict())           # Anidamos las iteraciones de docs en la lista pet_owner_data

pet_owner_df = pd.DataFrame(pet_owner_data)
pet_owner_df

  ownerLastName                        email         phone ownerFirstName
0        Taylor                         None  555-454-3465            Sam
1         Trent    miles.trent@somewhere.com          None          Miles
2         Frier      liz.frier@somewhere.com  555-537-6543            Liz
3      Mayberry                         None  555-454-1243          Jenny
4         Downs  'marcha.downs@somewhere.com  555-537-8765         Marsha
5       Roberts                         None  555-454-2354            Ken
6        Melnik   nigel.melnik@somewhere.com  555-232-5678          Nigel
7         James  richard.james@somewhere.com  555-537-7654        Richard
8        Rogers     jim.rogers@somewhere.com  555-232-3456            Jim
9        Keenan    mary.keenan@somewhere.com  555-232-4567           Mary

In [32]:
firebase_admin.delete_app(firebase_admin.get_app())